{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load shuffle %}

{% block content %}
    <div class="row card-down-little">
      <div class="col-md-12 card">
      <br>
          <div class="col-md-9 align-self-center" style="flex: 0 0 0">
              <h3 class="inline">{{ topic }}</h3>
          </div>
      <br>
          <div class="col-md-9 align-self-center" style="flex: 0 0 0">
              <h3 class="inline">{{ topic_description }}</h3>
          </div>
          <br>
          <div class="col-md-9 align-self-center" style="">
            {% if user.is_authenticated %}
              <div id="not-enrolled-section">
                <p style="font-size: 20px; font-family: 'Arial'">$${{ topic_latex_question }}$$</p>
                <form class="" action="{% url 'process:topic_check' object.slug  topic.slug %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                  {{ topic_check_context }}
                  <input type="text"  name="question" placeholder="Enter answer" value="{{ topic_question }}" id="topic_question" hidden>
                  <input action="" type="button" class="btn btn-default enroll" value="Check" id="check_user_answer"/>
                  <input type="submit" name="answer" class="btn btn-default enroll" value="Next question"/>
                  <br>
                  <br>
                  <p id="get_true_or_false"></p>
                  <p id="topic_answer" lang="latex"></p>
                </form>
              </div>
            {% endif %}
          </div>
      <br>
      </div>
    </div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/countdown.js' %}"></script>
  <script src="{% static 'js/append_buttons.js' %}"></script>
  <script src="{% static 'js/latexit.js' %}"></script>
{#  <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>#}
  <script>
    // $("#id_user_answer").change(function () {
    //   console.log( $(this).val() );
    // });
    $(document).ready(function(){
      $("#check_user_answer").click( function () {
        var user_answer = $('#id_user_answer').val();
        var my_location = window.location.pathname;
        var topic_question = $("#topic_question").val();
        $.ajax({
          url: "/ajax/check_user_answer/",
          data: {
            'topic_question': topic_question,
            'my_location': my_location,
            'user_answer': user_answer,
          },
          dataType: 'json',
          cache: false,
          success: function(data) {
            var topic_answer = data.answer
            var true_false_answer = data.true_false_answer
            // alert(true_false_answer)
            if (true_false_answer == true ){
              $('#get_true_or_false').text('True');
            } else {
              $('#get_true_or_false').text('False');
            }
            // var topic_answer1 = data.answer1
            // alert(topic_answer1)
            if ($('#topic_answer img').attr('alt') == ''){
              // alert($('#topic_answer img').attr('src'))
              $('#topic_answer img').attr('alt', topic_answer);
              $('#topic_answer img').attr('src' , $("#topic_answer img").attr('src') + topic_answer);
            } else if ($('#topic_answer img').attr('alt')) {
              $('#topic_answer img').attr('alt', topic_answer);
              var index = $('#topic_answer img').attr('src').split('?')[0];
              // alert(index)
              $('#topic_answer img').attr('src' , index + '?' + topic_answer);
            }
          }
        });
      });

      window.onblur = () => location.reload();

    });

  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      var mathFieldSpan = document.getElementById('math-field');
      var latexSpan = document.getElementById('id_answer');
      var MQ = MathQuill.getInterface(2);

      mathField = MQ.MathField(mathFieldSpan, {
          spaceBehavesLikeTab: true,
          handlers: {
              edit: function () { // useful event handlers
                  mathField.focus();
                  var enteredMath = mathField.latex(); // Get entered math in LaTeX format
                  latexSpan.setAttribute("value", enteredMath); // simple API

              }
          }
      });
      mathField = MQ.MathField(mathFieldSpan, config);
    })

    function input(str) {
      mathField.cmd(str);
      mathField.focus();
    }


</script>

{% endblock %}
