{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load shuffle %}

{% block content %}
    <div class="row card-down-little">
      <div class="col-md-12 card">
      <br>
        <div class="row">
          <div class="col-md-4 align-self-center">
              <h3 class="inline">{{ assignment.title }}</h3>
              {{ assignment_end }}
          </div>

          <div class="col-md-5 align-self-center">
              <div class="progress">
                  <div class="progress-bar bg-info" role="progressbar" style="width: {{ progress.progress }}%">{{ progress.index }} / {{ progress.count }}</div>
              </div>
          </div>

          <div class="col-md-3 align-self-center">
            <div id="countdown"></div>
          </div>

        </div>
      <p>{{ question.formatted_markdown | safe }}</p>
      <form method="post" action="{% url 'process:assignment_session_form' assignment.slug %}">
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          <br>
          <b>Question:</b>
          <div id="topic_answer" lang="latex">{{ question.question }}</div>
          <div id="question_topic" value="{{  question.topic }}" hidden>{{  question.topic }}</div>
          <div id="question_id" value="{{  question.id }}" hidden>{{  question.id }}</div>
          <b>Answer:</b>
          <br>
          <br>
          {% for field in form.visible_fields %}
            <!-- MathQuill keyboard -->
{#            <div id="keyboard">#}
{#              <div class="btn-group" role="group" aria-label="math functions">#}
{#                <button type="button" class="btn btn-default" onClick='input("^2")'>$$x^2$$</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\\sqrt")'>√</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\\sin")'>sin</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\\cos")'>cos</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\\tan")'>tan</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("/")'>/</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\Pi")'>Pi</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\dagger")'>Dagger</button>#}
{##}
{#              </div>#}
{#            </div>#}
{#            <table id="Compact" class="buttons nohide">#}
{#              <tr>#}
{#                <!-- <td class="padButton new-pad-button font16" data-append="^2" data-moveleft="0"><span class="mathquill-embedded-latex">x^2</span></td> -->#}
{#                <button type="button" class="btn btn-default" onClick='input("^2")'>$$ x^2 $$</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("^{}")'>$$ x^{\msquare} $$</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\log_{ }\left(\right)")'>$$ \log_{\msquare} $$</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\sqrt{ }")'>$$ \sqrt{\square} $$</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\nthroot")'>$$ \sqrt[ \msquare ]{\square} $$</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\le")'>$$ \le $$</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\ge")'>$$ \ge $$</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\frac{ }{ }")'>$$ \frac{\msquare}{\msquare} $$</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\cdot")'>$$ \cdot $$</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\div")'>$$ \div $$</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("^{\circ}")'>$$ x^{\circ} $$</button>#}
{#                <button type="button" class="btn btn-default" onClick='input("\pi")'>$$ \pi $$</button>#}
{##}
{#              </tr>#}
{#            </table>#}

            <!-- MathQuill keyboard -->
            <p>Type your answer here:
              <span id="math-field" style="width: 400px; margin: 10px;"></span>
            </p>
              <div hidden>
                {{ field }}
              </div>
              {% for error in field.errors %}
                <span class="help-block" hidden>{{ error }}</span>
              {% endfor %}
          {% endfor %}

          <!-- <div id="my-code-wrapper" data-language="python" name="answer"></div> -->
          <br>
          <button type="submit" class="btn btn-success">Next question</button>
      </form>
      <br>


      </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/countdown.js' %}"></script>
    <script src="{% static 'js/append_buttons.js' %}"></script>
    <script src="{% static 'js/latexit.js' %}"></script>

    <script type="text/javascript">
      $('#countdown').countdown('{{ assignment_end|date:"Y/m/d H:i:s" }}', function(event) {
        $(this).html(event.strftime('Time to end: %H:%M:%S'));
      });

      window.onblur = function(){
        var question_topic = $('#question_topic').html();
        var question_id = $('#question_id').html();

        $.ajax({
            url: "/ajax/window_looses_foxus/",
            data: {
            'question_topic': question_topic,
            'question_id': question_id,
            {#'user_answer': user_answer,#}
            },
            dataType: 'json',
            cache: false,
            success: function(data) {
                {#alert('You have left the exam page, the question has been updated! Please note the following violation of the exam rules will lead to automatic completion of the exam.')#}

                var topic_answer = data.new_question

                if ($('#topic_answer img').attr('alt') == '') {
                    // alert($('#topic_answer img').attr('src'))
                    $('#topic_answer img').attr('alt', topic_answer);
                    $('#topic_answer img').attr('src', $("#topic_answer img").attr('src') + topic_answer);
                } else if ($('#topic_answer img').attr('alt')) {
                    $('#topic_answer img').attr('alt', topic_answer);
                    var index = $('#topic_answer img').attr('src').split('?')[0];
                    // alert(index)
                    $('#topic_answer img').attr('src', index + '?' + topic_answer);
                }
            }
        });
      };
    </script>
    <!-- <script type="text/javascript">
      MQ = MathQuill.getInterface(MathQuill.getInterface.MAX);

      var latex = $('#basic-latex').bind('keydown keypress', function() {
        var prev = latex.val();
        setTimeout(function() {
          var now = latex.val();
          if (now !== prev) mq.latex(now);
        });
      });
      var mq = MQ.MathField($('#basic')[0], {
        autoSubscriptNumerals: true,
        handlers: { edit: function() {
          if (!latex.is(':focus')) latex.val(mq.latex());
        } }
      });
      latex.val(mq.latex());
    </script> -->


    <script type="text/javascript">
      $(document).ready(function(){
        var mathFieldSpan = document.getElementById('math-field');
        var latexSpan = document.getElementById('id_answer');
        var MQ = MathQuill.getInterface(2);

        mathField = MQ.MathField(mathFieldSpan, {
            spaceBehavesLikeTab: true,
            handlers: {
                edit: function () { // useful event handlers
                    mathField.focus();
                    var enteredMath = mathField.latex(); // Get entered math in LaTeX format
                    latexSpan.setAttribute("value", enteredMath); // simple API

                }
            }
        });
        mathField = MQ.MathField(mathFieldSpan, config);
      })

      function input(str) {
        mathField.cmd(str);
        mathField.focus();
      }
    </script>
{% endblock %}
