{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Create Stream{% endblock %}

{% block content %}
    <div class="row card-down-little">
      <div class="col-md-12 card">
      <br>
        <div class="row">
          <div class="col-md-4 align-self-center">
              <h3 class="inline">Streams</h3>
          </div>

          <div class="col-md-3 align-self-center">
            {% if user.is_authenticated %}
                <h1>Feel Form</h1>
                <hr>
                <form class="" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                  {{ form }}
                      <!-- <table>
                        {{ topic_formset }}
                      </table> -->

                      <table class="table">
                        {{ addtopic.management_form }}

                        {% for form in addtopic.forms %}
                            {% if forloop.first %}
                                <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                        <th>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% endif %}
                            <tr class="{% cycle row1 row2 %}  formset_row">
                              {% for field in form.visible_fields %}
                                <td>
                                  {# Include the hidden fields in the form #}
                                  {% if forloop.first %}
                                      {% for hidden in form.hidden_fields %}
                                          {{ hidden }}
                                      {% endfor %}
                                  {% endif %}
                                  {{ field.errors.as_ul }}
                                  {{ field }}
                                </td>
                              {% endfor %}
                            </tr>
                          {% endfor %}
                        </table>
                  <input type="submit" class="btn btn-default" value="Save"/>
                  <button type="button" class="delete" value="{{ delete_url }}" name="button">Delete</button>
                  <a href="{% url 'process:index' %}">Come back</a>
                </form>
            {% endif %}
          </div>

        </div>
      <br>
      </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        $(document).ready(function(){
            $(".update").click(function() {
                var updateVla = $(".update").val()
                window.open(updateVla,"_self")
            });

            $(".delete").click(function() {
                var updateVla = $(".delete").val()
                // alert(up)
                window.open(updateVla,"_self")
            });
        });

    </script>
{% endblock %}
