{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row card-down-little">
      <div class="col-md-12 card">
      <br>
        <div class="row">
          <div class="col-md-4 align-self-center">
              <h3 class="inline">Curator Assignment List</h3>
          </div>

          <div class="col-md-3 align-self-center">
            {% if user.is_authenticated %}
              <div id="not-enrolled-section">
                <p>Here you can see all assignment list</p>
                {% for assigment in supper_assignments %}
                  <a href="{% url 'process:supper_assignments_session_list' assigment.slug %}" class="btn btn-primary mb-1">{{ assigment.title }}</a>
                {% endfor %}
              </div>
            {% endif %}
          </div>

        </div>
      <br>
      </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}
