{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row card-down-little">
      <div class="col-md-12 card">
      <br>
        <div class="row">
          <div class="col-md-4 align-self-center">
              <h3 class="inline">Subject</h3>
          </div>
          <div class="col-md-3 align-self-center">
            <ul style="list-style: none;">
              <p>This is detail of subject</p>
              <br>
            </ul>
          </div>
        </div>
      <br>
      </div>
    </div>
{% endblock %}
